@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #111111;
  --body-background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ffffff;
    --body-background: #ffffff;
  }
}

body {
  color: var(--text-color);
  background: var(--body-background);
}

@layer utilities {
  // utilities
}
